# Compiled Cython files
*.c
*.so

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Build directories
build/
dist/
*.egg-info/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

